# Class (Object Oriented Programming)

1. Creating employee class
2. repr  --> Representation function
3. roles of employee inheritance class
4. managers, employess list under him, number of employee under him

In [122]:
class Employee:

    def __init__(self, name,age):   #constructor
        self.name = name
        self.age = age
        
    def introduce(self):           #Instance Method
        print(f'hello,Good Morning. My name is {self.name}, and I am {self.age} years old')
        
    def __repr__(self):

        return f'name = {self.name}, age = {self.age}'

In [123]:
e1 = Employee('Rupesh',26)    #Object Creation of Employee class
print(e1.name,e1.age)

Rupesh 26

In [124]:
e1.introduce()

hello,Good Morning. My name is Rupesh, and I am 26 years old

In [125]:
e2 = Employee('Priyanshu',23)
e2.introduce()

hello,Good Morning. My name is Priyanshu, and I am 23 years old

In [126]:
print(e2)

name = Priyanshu, age = 23

#Creating id for Employee

In [127]:
class Employee:
    number_of_employee =0
    idseq = 100
    employee_database = []

    def __init__(self, name,age, is_working = True):   #constructor
        self.name = name
        self.age = age
        self.id = Employee.idseq
        self.is_working = is_working
        Employee.idseq+=1
        Employee.number_of_employee+=1
        Employee. employee_database.append(self)
        
    def introduce(self):           #Instance Method
        print(f'hello,Good Morning. My name is {self.name}, and I am {self.age} years old. My Id is {self.id}')

    def fire(self):
        if(self.is_working == True):
           self.is_working = False
           Employee.number_of_employee -= 1
        else:
            print('This employee is already fired')
   
    def __repr__(self):

        return f'(name = {self.name}, age = {self.age})'

In [128]:
e1 = Employee('Aadarsh',60)

In [129]:
e1.introduce()

hello,Good Morning. My name is Aadarsh, and I am 60 years old. My Id is 100

In [130]:
e2 = Employee('Ramesh',100)

In [131]:
e2.introduce()

hello,Good Morning. My name is Ramesh, and I am 100 years old. My Id is 101

In [132]:
Employee.number_of_employee

2

In [133]:
Employee.employee_database

[(name = Aadarsh, age = 60), (name = Ramesh, age = 100)]

In [134]:
e1.fire()

In [135]:
Employee.number_of_employee

1

In [136]:
e2.fire()
Employee.number_of_employee

0

In [137]:
e1.fire()

This employee is already fired

# Inherit Employee Class

In [138]:
class Manager(Employee):
    def __init__(self,name,age):
        super().__init__(name,age)
        self.role = 'Manager'
    
    def fire_emp(self,emp):
        if(emp.is_working):
            print(f'{self.name} has fired {emp.name}')
            emp.fire()
        else:
            print('Cannot fire, already fired')

In [139]:
m1 = Manager('Rupesh', 25)

In [140]:
print(m1)

(name = Rupesh, age = 25)

In [141]:
m1.role

'Manager'

In [142]:
Employee.number_of_employee

1

In [143]:
e1 = Employee('chetna', 23)
e2 = Employee('chetan', 25)
e3 = Employee('chetak', 28)

In [144]:
Employee.number_of_employee

4

In [146]:
m1.fire_emp(e1)

Rupesh has fired chetna

In [147]:
e1.is_working

False